
*{
	box-sizing: border-box;
}

html, body{
margin: 0 auto;
height: 100%;
}

body{
  background-image: url("hogwarts_castle.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
}

div{
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button{
	cursor: pointer;
}

button, #result, p{
  background-color: rgba(143, 188, 236, .65);
  color: #ffffff;
  display: block;

  width: 400px;
  margin: 5px auto;
  padding: 5px 10px;

  border: 2px solid #d3d3d3;
  border-radius: 5px;
  font: 18px arial sans-serif;
	text-align: center;
}

h2{
  background-color: rgba(255, 0, 0, .65);
  color: #d3d3d3;

  width: 400px;
  padding: 10px;

  border: 3px solid #ffd700;
  border-radius: 10px;
  text-align: center;
}

#next{
float: right;
width: 60px;
margin: 200px 100px 0 0;
cursor: pointer;
}
