/*center divs
float next to the left

GET HP PICS FOR BACKGROUND IMAGES!!!!
hogwarts (main pic), different house sigils png, deathly hallows?png, maruader's map, hogwarts coat of arms
hogwarts coat of arms: click on it to enter into trivia game*/

*{
	box-sizing: border-box;
}

html, body{
margin: 0 auto;
height: 100%;
}

body{
  background-image: url("hogwarts_castle.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;

}

div{
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
